.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-top: 50px;
  padding: 0 2rem;
}

.cart-container{
  position: fixed;
  top: 15%;
  right: 1%;
}


/* responsive  */
/* @media screen  and (max-width:1100px) {
  .products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
} */